body{
    font-family: 'Lato', sans-serif;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    margin-top: 5px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
}

ul {
    list-style: none;
}

button {
    padding: 10px;
    width: 100px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
}

.sign-error{
    transform: translate(100%);
}

.auth-error{
    transform: translate(0%);
}
.error{
    position: absolute;
    background-color: rgba(229, 226, 226, 0.829);
    text-align: center;
    color: #003900;
    font-weight: bold;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: transform 1500ms ease-in-out;
}
